.myflex-container{
    display: flex;
    flex-direction: row;
}
button.change{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}
.dum20{
    width: 20%;
}
.dum80{
    width: 80%;
    background-color: white;
    margin-top: 1rem;
}
.dum50{
    background-color: lightcyan;
    width: 80%;
    margin: auto;
}
.cp{
    border-radius: 5px;
    /* border: 1px solid gray; */
    align-items: center ;
    justify-content: center;
    background-color: #f6f6f6;
    margin-top: 40px;
    padding: 5rem; 
}

.btn_blue {
    /* background: linear-gradient(to right, #ae432e 50%, white 50%) !important;
     */
     background:  #ae432e !important;
    background-size: 200% 100% !important; 
    background-position: right bottom !important; /* Initial background position */
    border: 1px solid black !important;
    color: black !important; 
    transition: background-position 0.5s ease-out !important;
    border-radius: 20px !important;
    color: white !important;
}

.btn_blue:hover {
    background: rgb(174,67,46,0.9) !important;
    color:white !important;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: rgb(174,67,46,0.9) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(174,67,46,0.7) !important;
}
.tracker-box{
    margin-top: 20px;
    background-color: #ae432e;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.list-icon{
    margin-right: 10px;
}